@media screen and (max-width:900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        margin: 0;
        padding: 0;
        flex: 0 0 100%;
        min-width: 100%;
    }

    .aside {
        display: none;
    }

    .main-content {
        margin-left: 0;
        padding: 0;
        width: 100%;
    }

    .section {
        width: 100%;
    }

    h3.hello {
        box-shadow: 0 0 15px var(--black);
        text-align: right;
        padding: 2% 9% 2% 2%;
        border-radius: 15px;
        /* transform: translateX(36%); */
        width: fit-content;
        margin-bottom: 15%;
        margin-left: 19%;
    }

    h3.hello span {
        display: block;
    }


    .about .personal-info .info-item p span {
        color: green;
        display: block;
        margin-left: 0;
    }

}



@media screen and (max-width:991px) {
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home img {
        display: none;
    }

}

@media screen and (max-width: 450px) {

    #navbar li,
    #navbar li a {
        font-size: 0.5rem;
    }

}

@media screen and (min-width: 900px) {
    .home .me img {
        display: none;
        margin-right: 5rem;
    }

    .home-hero {
        /* margin-top: -100%; */
    }
}

@media screen and (max-width:1200px) {

    .home-info .texts,
    .indexHero {
        flex: 0 0 90%;
        max-width: 90%;
        padding-left: 5%;
        /* background-color: red; */
    }

    .section {
        margin-top: -5%;
    }

    .service .section-title {
        margin-left: 3%;
    }

    .portfolio .section-title,
    .portfolio .portfolio-heading h2,
    .contact .container .section-title h2 {

        margin-left: 3%;
    }

}


/* About section */
@media screen and (max-width:100px) {
    .about .personal-info .about-flex .my-data {
        max-width: 45%;
        margin-left: 1.2rem;
        margin-right: 3rem;
        /* background-color: burlywood; */

    }



    .flex-division {
        margin-left: 6%;
    }


}

@media screen and (width<780px) {
    .about .personal-info .about-flex .my-data {
        display: none;
    }


    .skills {
        display: none !important;
        margin-top: 70%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .skills .skill-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .flex-division {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        width: fit-content;
    }

    .about .timeline {
        flex-direction: column;
        flex: 0 0 100%;
        width: 245% !important;
        display: flex;
    }

}

@media screen and (width<400px) {
    .about .timeline {
        flex-direction: column;
        flex: 0 0 100%;
        width: 300% !important;
        display: flex;
        margin-left: -30% !important;

    }

    .about .about-text {
        text-align: center;
        margin: 0 -20%;
    }

    .portfolio-item .portfolio-item-inner .portfolio-img {
        width: 100%;
        padding: 0 !important;
    }


    .portfolio-item .portfolio-item-inner {
        /* background-color: red; */
        width: 135% !important;
        overflow: hidden;
        /* display: none; */
        margin-left: -30% !important;
        /* padding-left: -200% !important; */

    }

    .education .title,
    .experience .title {
        margin-top: 1rem;
    }

    .about .timeline p {
        font-size: 14px !important;
    }

    .service .service-item {
        flex-direction: column;
        flex: 0 0 100%;
        width: 150% !important;
        display: flex;
        margin-left: -23%;
        margin-top: 7%;
    }

    h3.hello {
        box-shadow: 0 0 15px var(--black);
        text-align: center;
        padding: 2% 8% 2% 2%;
        border-radius: 15px;
        /* transform: translateX(36%); */
        width: max-content;
        margin-bottom: 15%;
        margin-left: 0%;
        /* height: 10%; */
    }

}


@media screen and (width<600px) {
    .skills {
        /* background: red; */
        min-width: 100%;
        padding-left: 2%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-transform: uppercase;
        /* position: relative; */

    }

    .skills h5 {
        margin-left: -40%;
        /* position: absolute; */

    }

    .sectionNewsletter h1,
    h5 {
        margin: 4% 0 10% -0.4rem !important;
    }

}

@media screen and (width < 1200px) {
    .about-text {
        flex: 0 0 200%;
        max-width: 200%;
        margin-left: 1%;
    }

    .about .container .section-title {
        margin-left: 3%;
    }

    .about .personal-info .about-flex .my-data {
        margin-left: 5%;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .about .personal-info .info-item p span {
        color: var(--skin-color);
        display: block;
        margin-left: 0;
    }

    .about .personal-info .info-item p span a {
        color: var(--skin-color);
    }

    .skills {
        padding-left: 6%;
    }

    .about .container {
        /* background-color: purple; */
        width: 100%;
    }



    .main-content {
        width: 89%;
    }

}

@media screen and (min-width:1200px) {
    .about .personal-info .about-flex .my-data {
        margin-left: 2%;
    }

    .container {
        overflow: hidden;
        /* width: 450%; */
    }


    .skills {
        padding-left: 3%;
    }

    .flex-division {
        margin-left: 3%;
        width: 92%;
    }

    .home .home-info .home-hero {
        /* background: green; */
        display: flex;
        flex-direction: column;
        flex: 0 0 90%;
        max-width: 90%;
        /* text-align: center; */
        margin-top: -100%;
        overflow: hidden;
        /* display: none; */
    }

}

@media screen and (width<816px) {


    .service .flex-row-wrap {
        display: flex;
        flex-direction: column;
    }

    .service .service-item-inner {
        display: flex;
        flex-direction: column;
        /* height: 12rem; */
        width: 70;
    }

    .service .service-item-inner .service-item-inner-image img {
        width: 100%;
        height: 60%;
    }

    .service .service-item-inner .service-item-inner-image {
        /* width: 70%; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (width<916px) {
    .flex-row-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 15%;
    }

    .portfolio .portfolio-flex-row-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 7%;
    }

    .contact .contact-flex-row-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 7%;
    }

    .contact .info-item {
        margin-bottom: 3rem;
        display: inline-block;
    }

    .contact .contact-info-item {
        margin-bottom: 6%;
        /* border-bottom: 1px solid var(--text-black-900); */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h3.contact-title {
        padding-left: 1%;
    }

    .contact .contact-info-item p,
    .contact .contact-info-item h4,
    form #name,
    form #email,
    form #subject,
    form #message {
        display: block;
        min-width: 21rem;
        width: 100%;

    }

    .sectionNewsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 7%;
    }

    .sectionNewsletter h1,
    h5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: red; */
        /* margin-left: -10%; */

    }

    .sectionNewsletter h1,
    h5 {
        margin-left: 20px;
    }

    form {
        display: block;
        width: 100%;
        padding: 0;
    }

    .newsletterDiv2 .form_btn {
        /* margin-left: 20%; */
        margin-top: -8%;
        display: block;
        /* max-width: 10rem !important; */

    }

    form #message {
        margin-top: -5%;
    }



}



@media screen and (max-width:900px) {

    .mobile-navbar {
        position: fixed;
        background-color: var(--text-black-700);
        top: 0;
        left: 0;
        width: 50%;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        padding: -90rem 0;
        box-shadow: 0 0 20px var(--text-black-700);
        /* background: url(../images/assets/creative-wallpaper-with-white-shapes.jpg); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 200;
        height: fit-content;



    }

    .mobile-navbar .navDiv {
        position: relative;
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;

    }

    .mobile-navbar .navDiv #navbar {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        transform: translateX(-25px);
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0;
        margin: 40% 0 0 20%;
        min-height: 100%;
    }

    .mobile-navbar .navDiv #navbar li a {
        color: var(--bg-black-900);
    }

    #navbar li .active::after,
    #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: #088978;
        position: absolute;
        bottom: 10px;
        left: 24px;
        transition: 5s ease;
    }
}


@media screen and (width:280px) {

    .contact .contact-info-item p,
    .contact .contact-info-item h4,
    form #name,
    form #email,
    form #subject,
    form #message {
        display: block;
        min-width: 14rem;
        width: 100%;

    }

    .newsletterDiv2 .form_btn {
        margin-left: 15%;
        /* margin-top: -8%; */
        display: block;
        /* max-width: 10rem !important; */

    }

    .sectionNewsletter h1 {
        font-size: 25px !important;
    }

}