:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfdc;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --signature-color: #088978;

}
body{
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* writing-mode: vertical-lr; */
    /* to flip an image use scale(-1) */
    /* text-decoration: none; */
    font-family: sourcesans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: sourceSans;
    src: url(../font/SourceSansPro-SemiBold.ttf);
}


::before,
::after {
    box-sizing: border-box;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside containing navbar and logo begins */

.aside {
    /* display: none; */
    width: 15%;
    background: #ebebeb;
    /* background: url(../images/assets/bgIMG.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 17px;
    position: fixed;
    height: 100%;
    border-right: 2px solid var(--bg-black-50);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.section {
    /* background: var(--bg-black-50); */
    min-height: 100vh;
    display: block;
    /* margin-left: 12.4%;*/
    /* padding-left: 15px; */
    /* background: rgba(192, 192, 192, 0.348); */
}

.main-content {
    /* margin-left: 137px; */
    margin-left: 110px;
    width: 98%;
}

.padding {
    padding: 0 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding: 60px 0 70px 0;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.section-title h2::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: rgb(255, 123, 0);
    width: 2.3em;
    height: 4px;
}

.section-title h2::after {
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    background-color: rgb(13, 0, 255);
    width: 32px;
    height: 3px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    position: relative;
    flex-direction: column;
}

/* .logo {

    color: #000;
    font-weight: 800;
    padding: 5% 8%;
    font-size: 2rem;
    letter-spacing: 1.2px;
    position: absolute;
    left: 23%;
    font-weight: 800;

    font-size: 2rem;
            letter-spacing: 1.2px;
            left: 23%;
    
} */

#navbar {
    font-size: 18px;
    position: relative;
    /* left: -18%;
    top: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    margin-top: 6rem;
}

.aside .hamburger {
    height: 40px;
    width: 45px;
    position: fixed;
    left: 300px;
    border: 1px solid var(--bg-black-50);
    top: 20px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--bg-black-100);
}

.hamburger span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
}

.hamburger span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 12px;
}

.hamburger span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    bottom: 12px;
}

#navbar li {
    display: flex;
    /* flex: .1; */
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    position: relative;
}

#navbar li a {
    text-decoration: none !important;
    color: inherit;
    transition: 0.5s ease;
    font-size: 20px;
    font-weight: 600;
}

#navbar li i {
    /* color: red; */
    margin-right: 10px;
}

#navbar li i:hover {
    color: #088978;
}

#navbar li a:active,
#navbar li a.active {
    color: #088978;
}

#navbar li a:hover {
    color: #088978;
}

#navbar li .active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088978;
    position: absolute;
    bottom: 10px;
    left: 44px;
    transition: 5s ease;
}

.aside li {
    color: var(--text-black-900);
    font-weight: 700;
}

.aside .logo {
    /* color: var(--text-black-900); */
    font-weight: 800;
    padding: 5% 6%;
    margin-left: -31%;
    letter-spacing: 1.2px;
    position: relative;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 1.2px;
    left: 23%;
    text-decoration: none !important;
    color: #000 !important;
}

.aside .logo span {
    font-family: 'Clicker Script';
    font-size: 2.5rem;
    color: var(--signature-color);
}

.aside .logo::before {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-bottom: 5px solid var(--signature-color);
    border-left: 5px solid var(--signature-color);
    bottom: 0;
    left: 0;
}

.aside .logo::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-right: 5px solid var(--signature-color);
    border-top: 5px solid var(--signature-color);
    top: 0;
    right: 0;
}

/*============================================================ ==============home section start ==============================================*/

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    background: url(../images/assets/creative-wallpaper-with-white-shapes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 0 0 100%;
    max-width: 100%;
}

.home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
}

.texts{
    flex: 0 0 100%;
    max-width: 55%;
}


.home .me {
    width: 50%;
    flex: 0 0 40%;
    max-width: 40%;
    background: red;
}

.home .me img {
    /* height: 600px;  */
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
}

h3.hello {
    font-size: 1.8em;
    margin: 10px 0;
}

h3.myProfession {
    font-size: 1.5em;
}

h3.hello span {
    color: #088978;
    font-weight: 900;
}

.typing {
    color: #088978;
}

.row p {
    color: var(--text-black-700);
    line-height: 1.7;
    font-size: 1.2em;
}

.row button,
.row .buttons a {
    margin-left: 10%;
    /* background-color: #088978; */
    /* padding: 12px; */
    width: 9em;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 15px;
    transition: all 1s ease;
    border: none;
    color: #000;
}

.row button:hover {
    scale: 1.2;
}

.row button a {
    color: white;
}

.home .me img::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 80px;
    left: 0;
}

.home .me img ::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-right: 105px solid var(--skin-color);
    border-top: 105px solid var(--skin-color);
    bottom: -40px;
    right: 20px;
}

.hidden {
    display: none;
}

/*================================================================================== start about section ================================================================*/
/* .about{
    background: url(../images/assets/creative-wallpaper-with-white-shapes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    opacity: 0;
} */

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;

}
.about-text{
    /* background: red; */
    margin-top: 2rem;
    margin-left: -1rem;
    /* display: flex; */
    flex: 0 0 90%;
    max-width: 99%;

}

.about-text h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-black-900);
}

.about-text span {
    color: #088978;
}

.about-text p {
    line-height: 1.5;
}

.about .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 3em;
}

.about .personal-info .info-item p {
    font-weight: 700;
    padding: 8px 0;
    color: var(--text-black-900);
    border-bottom: 2px solid var(--bg-black-50);
}

.about .personal-info .info-item p a {
    color: rgb(79, 77, 77);
}

.about .personal-info .info-item p span {
    color: rgb(79, 77, 77);
    margin-left: 2px;

}

.about .skills {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: -2rem;
}

.margin-top {
    margin-top: 10%
}

.margin-bottom {
    margin-bottom: 2rem;
}

.row .buttons {
    margin-top: 40px;

}

.about .skills .skills-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.about .skills .skills-item h5 {
    line-height: 3;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.about .skills .skills-item .progress {
    height: 7px;
    border-radius: 4px;
    width: 100%;
    background: var(--bg-black-50);
    position: relative;
}

.about .skills .skills-item .progress .progress-in {
    position: absolute;
    background-color: var(--skin-color);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
}

.about .skills .skills-item .skills-percent {
    position: absolute;
    right: 0;
    top: -2rem;
    color: var(--text-black-900);
    font-weight: 600;
    line-height: 40px;
}

.about .education,
.about .experience {
    /* background: red; */
    flex: 0 0 50%;
    max-width: 49%;
    margin: 5% 3px 0 0;
}

.about .experience {
    /* background: var(--skin-color); */
}

.flex-division {
    display: flex;
    flex-direction: row;
}

.flex-division div {
    display: flex;
    flex-direction: column;
}

.about .flex-division .title {
    color: var(--text-black-900);
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-flex .flex-row:nth-child(2) {
    height: 10vh;
    margin-top: 5rem;
}


.about .about-flex .flex-row {
    display: flex;
    flex-direction: column;
    /* background: green; */
    width: 45%;
    /* align-items:center ; */
    justify-content: center;
    /* /* padding: -15px; */
    margin-left: 5px;

}

.about .about-flex .my-data {
    flex: 0 0  50%;
    max-width: 50%;
}


.about .timeline-box {
    /* /* flex: 0 0 100%;
    margin: 100%; */

}

.about .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    width: 100%;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    position: relative;

}

.about .timeline .timeline-item {
    position: relative;
    padding: 0 0 50px 37px;
}

.about .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 7px;
    top: 0;
    background: var(--skin-color);
}

.about .timeline .timeline-item .circle-dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--skin-color);
}

.about .timeline .timeline-item .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .timeline .timeline-item .timeline-date .fa {
    margin-right: 6px;
}

.about .timeline .timeline-item .timeline-title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .timeline .timeline-item .timeline-text {
    line-height: 25px;
    font-size: 16px;
    /* text-align: justify; */
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4%;

}

.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    margin-bottom: 30px;
    flex: 0 0 25.3%;
    max-width: 0 0 25.3%;
    border-radius: 10px;
    margin: 3%;
    transition: all 0.5s ease-in-out;
    height: fit-content;
}

.service-item:hover {
    box-shadow: 10px 10px 10px #0aafdc7e;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 1s ease-in-out
}

.service .service-item .service-item-inner:hover {
    scale: 1;
    cursor: pointer;
    background: var(--bg-black-50);
}

.service .service-item .service-item-inner .icon {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
    transition: all .5s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.6s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #fff;
}

.service .service-item .service-item-inner h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 800;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 17px;
    line-height: 2;
}



/* ========================================================================================END ABOUT SECTION
============================================================ */

/* ========================================================================================START PORTFOLIO============================================================ */

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2.2rem;
}

.portfolio .portfolio-heading h2 {
    font-weight: 500;
    color: var(--text-black-700);
}

.portfolio-flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 15px; */
}

.portfolio-flex-row-wrap div {
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
    margin: 5px 10px 15px;
    /* max-width: 50%; */
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border-radius: 10px;
    transition: all 0.5s ease-in-out
}

.portfolio .portfolio-item {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    /* overflow: hidden; */
    cursor: pointer;
    border-radius: 10px;

}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;

}

/*========================================================================================END PORTFOLIO============================================================ */

/*========================================================================================Start Contact============================================================ */
.contact {
    /* background: url(../images/assets/3040791.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-title {
    color: var(--skin-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 30px;
}

.contact .contact-subtitle {
    color: var(--text-black-900);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.contact-flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .contact-info-item {
    text-align: center;
    flex: 0 0 30%;
    max-width: 50%;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    color: var(--skin-color);
    font-size: 25px;
}

.contact .contact-info-item h4 {
    font-size: 22px;
    font-size: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 17px;
    font-size: 500;
    color: var(--text-black-700);
    line-height: 2;

}

/* newsletter */
.newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url(../images/assets/3040791.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    /* margin: 10px; */
    background-position: center;
    padding: 6%;
    /* color: rgb(250, 243, 243); */
    border-radius: 10px;
}

.newstext h4 {
    font-size: 22px;
    font-weight: 700;
}

.newstext {
    width: 40%;
}

.form {
    width: 60%;
}

.newstext p {
    font-size: 19px;
    font-weight: 300;
    /* color: #818ea0; */
}

.form button {
    width: 40%;
    height: 35px;
    margin: 4% 40%;
    font-size: 16px;
    background: black;
    color: white;
    background: rgb(128, 0, 26);
}

.form button:hover {
    background-color: rgba(159, 236, 159, 0.932);
    color: black;
    white-space: nowrap;
}

.newstext span {
    color: orange;
}

/* newsletter */

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 80%;
    max-width: 80%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    color: #000;
    display: inline-block;
    transition: all 0.7s ease;
    /* background-color: red; */
    clip-path: circle(180vh at 50% -80vh);
}

.contact .contact-form .form-item .form-group textarea {
    height: 30vh;
    width: 40vw;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.95);
    /* background: rgba(192, 192, 192, 0.647); */
}

.contact .contact-form .form-item .form-group textarea.form-control {
    height: 140px;
}

/*========================================================================================END Contact============================================================ */